/* About.css */

.about {
    background-color: #f5f5f5;
    padding: 2rem 0;
  }
  
  /* Ensure the right layout for mobile and tablets */
  @media (min-width: 640px) {
    .about-right {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1024px) {
    .about-right {
      flex-direction: row;
    }
  }

 p {
    
    line-height: 1.75; /* Adjust line height for better readability */
    text-align: justify; /* Justify the text for even alignment */
    word-break: keep-all; /* Prevent breaking words in awkward places */
    overflow-wrap: break-word;
  
